RESCUE_BOT_TOKEN=
RESCUE_ALLOWED_USER_ID=
RESCUE_GATEWAY_SERVICE=hermes-gateway.service
RESCUE_CPA_SERVICE=hermes-rescue-cpa.service
CPA_AUTH_DIR=
CPA_CONFIG=
CPA_BASE_URL=http://127.0.0.1:8317
AGY_BIN=
AGY_TOKEN_PATH=
BWRAP_BIN=/usr/bin/bwrap
RESCUE_PROJECT_NAME=
RESCUE_PROJECT_REPO=
RESCUE_PROJECT_SERVICE=
RESCUE_ENABLE_PROJECT_REPAIR=0
